@font-face {
  font-family: "iconfont"; /* Project id 2519641 */
  src: url('iconfont.woff2?t=1620718584575') format('woff2'),
       url('iconfont.woff?t=1620718584575') format('woff'),
       url('iconfont.ttf?t=1620718584575') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daqiyecaigou-dingyue-copy-copy:before {
  content: "\e815";
}

.icon-pingjia-copy:before {
  content: "\e811";
}

.icon-youjian-copy:before {
  content: "\e816";
}

.icon-daifahuo-copy:before {
  content: "\e813";
}

.icon-zuo:before {
  content: "\e6c9";
}

.icon-daishouhuo:before {
  content: "\e605";
}

.icon-jifen:before {
  content: "\e607";
}

.icon-xiangzuo-copy:before {
  content: "\e606";
}

.icon-tuikuanshouhou:before {
  content: "\e62e";
}

.icon-zuji:before {
  content: "\e609";
}

.icon-huiyuanka:before {
  content: "\e615";
}

.icon-shouji:before {
  content: "\e608";
}

.icon-next-copy-copy:before {
  content: "\e60a";
}

.icon-fukuan-copy:before {
  content: "\e814";
}

.icon-gouwuche-copy:before {
  content: "\e624";
}

.icon-xuanze11:before {
  content: "\e604";
}

.icon-xuanze:before {
  content: "\e80f";
}

.icon-kefu:before {
  content: "\e63e";
}

.icon-dianpu:before {
  content: "\e618";
}

.icon-tubiao-jiantou-fanhuidingbu:before {
  content: "\e614";
}

.icon-shoucang:before {
  content: "\e603";
}

.icon-shoucang1:before {
  content: "\e63c";
}

.icon-fenlei1:before {
  content: "\e78b";
}

.icon-gouwuche:before {
  content: "\e600";
}

.icon-wode:before {
  content: "\e601";
}

.icon-yemian-copy:before {
  content: "\e602";
}

